@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="~/Views/Shared/Partials/_NavbarUser.cshtml" />

<h1>Historial</h1>
<h5>Descripción de esta función</h5>

<table class="table">
    <thead>
        <tr>
            <th>Evento</th>
            <th>Descripción</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                    Gonzalez
                    Mauricio
                    31646341
                </td>
                <td>
                    <a  asp-action="Person" class="btn btn-primary">Ver</a>

                </td>
            </tr>

        
    </tbody>
</table>
