@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="~/Views/Shared/Partials/_NavbarUser.cshtml" />

<h1>Listado de Clientes</h1>
<h5>Descripción de esta función</h5>

<a  asp-action="Create" class="btn btn-primary mb-3">Crear Proyecto</a>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        
            <tr>
                <td>
                  
                </td>
                <td>
                    <a class="btn btn-primary">Informe</a>
                </td>
            </tr>

        
    </tbody>
</table>