@*
    For more information on enabling MVC for empty payments, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "No encontrado";
}
<partial name="~/Views/Shared/Partials/_NavbarUser.cshtml" />

<h1>El recurso solicitado no ha sido encontrado</h1>

<a asp-action="Index">Volver al inicio.</a>