@using Cervantes.Arquisoft.View.Models;

@model Cervantes.Arquisoft.View.Models.AssignmentTypeViewModel
@{
    ViewData["Title"] = "Delete";
}
<partial name="~/Views/Shared/Partials/_NavbarUser.cshtml" />

<h3 class="mb-3">¿Está seguro que desea borrar el tipo @Model.AssignmentTypeName </h3>

<form asp-action="DeleteId" method="post">
    <input type="hidden" asp-for="ServiceTypeId" />
    <input type="hidden" asp-for="ServiceTypeName" />
    <input type="hidden" asp-for="AssignmentTypeId"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a class="btn btn-secondary" asp-action="Index" asp-controller="ServiceType">Cancelar</a>
</form>