@using Cervantes.Arquisoft.View.Models;

@model UserViewModel
@{
    ViewData["Title"] = "Delete";
}
<partial name="~/Views/Shared/Partials/_NavbarUser.cshtml" />

<h3 class="mb-3">¿Está seguro que desea borrar al Usuario @Model.LastName, @Model.Name? </h3>

<form asp-action="DeleteId">
    <input type="hidden" asp-for="Id"/>
    <button type="submit" class="btn btn-danger">Borrar</button>
    <a asp-action="List" class="btn btn-secondary">Cancelar</a>
</form>
