@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<partial name="~/Views/Shared/Partials/_NavbarUser.cshtml" />

<h1>Mensajes</h1>
<h5>Descripción de esta función</h5>

<table class="table">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>

        
            <tr>
                <td>
                    Mauricio
                    Gonzalez
                    31646341
                </td>
                <td>
                    <a  asp-action="message" class="btn btn-danger">Mensaje</a>
                </td>
            </tr>

        
    </tbody>
</table>